
/*definir_colores*/
:root {
    --elturf-orange: #3071a9;
    --elturf-orange-oscuro: #3498db;
    --color-hover-general-sep-repetidos: #C2D6B9;

    --color-hover-general-calendario: #3071a9;
    --color-hover-general-calendario-titulo-dias: #f2f2f2;
    --color-hover-general-calendario-dias-pasado: #C2D6B9;
	--color-hover-general-calendario-dias-proximo: #F5F497;
	--color-hover-general-calendario-dias-sabado: #f2f2f2;
	--color-hover-general-calendario-dias-domingo: #f2f2f2;
}
/*definir_colores*/

/* generales */
body {
    font-display: auto;
	font-family: var(--elturf-letra);
    color: var(--elturf-blue);
    overflow-x: hidden;
    font-size: 13px;
}
/* generales */


.entry-title a {
    color: #000;
}

.bandera_menu {
    width: 25px;
}

.tr-topbar .sub-menu {
    min-width: 150%;
}

/* ancho_menu */
.tr-topbar .topbar-left {
    width: 40%;
}
.tr-topbar .topbar-right {
    width: 60%;
    border: 0;
}
.searchNlogin ul li.el-banner {
    font-size: 0;
    padding: 10px;
    border: 0;
}

.cerrar_menu {
    visibility: hidden !important;
}

/* ancho_menu */

/*menu - agrandar letra*/
@media (min-width: 1200px) {
    .tr-menu .navbar-nav li a {
        font-size: calc(0.82em + 0vw);
    }
}
@media (min-width: 1400px) {
    .tr-menu .navbar-nav li a {
        font-size: calc(1.0em + 0.05vw);
    }
}
@media (min-width: 1500px) {
    .tr-menu .navbar-nav li a {
        font-size: calc(1.0em + 0.12vw);
    }
}
@media (min-width: 1600px) {
    .tr-menu .navbar-nav li a {
        font-size: calc(1.0em + 0.20vw);
    }
}
@media (min-width: 1700px) {
    .tr-menu .navbar-nav li a {
        font-size: calc(1.0em + 0.28vw);
    }
}
@media (min-width: 1800px) {
    .tr-menu .navbar-nav li a {
        font-size: calc(1.0em + 0.32vw);
    }
}
@media (min-width: 1900px) {
    .tr-menu .navbar-nav li a {
        font-size: calc(1.0em + 0.40vw);
    }
}
/*menu - agrandar letra*/

ul.sub-menu {
    min-width: 350px;
}

.searchNlogin li a, .searchNlogin .sub-menu a {
    color: var(--color-hover-menu-azul1);
}

/*menu*/
.elt_menu_active {
}
/*menu items destacados*/
.tr-menu .navbar-nav li.elt_menu_active a {
    color: var(--color-hover-menu);
}

/*modelo_explicativo*/
#imagen_programa{
    position:relative;
    top:0px;
    width:1100px;
    height:417px;
    
    background:#FFF;
    overflow:hidden;
    background: url('/generales_imagenes/apuestas/programa_de_carreras_como_leer.jpg') no-repeat;
}
    
.more { position:absolute; width:10px; height:10px; background-color: #EAF35B; border:1px solid #ccc; padding:0px; text-align:left; overflow:hidden; }
.more span{ position: absolute; left:5px; width:160px; padding:5px 5px 5px 5px; }
.more img{ position: absolute; top:0; left:0; border: none; }

/* Item Specific More Button */
#fecha_reunion{ top:129px; left:114px;}
#hipodromo{ top:129px; left:508px; }
#numero_reunion{ top:129px; left:820px; }
#carrera_en_reunion{ top:200px; left:50px; }
#retrospecto{ top:257px; left:31px;}
#hora{ top:153px; left:101px; }
#distancia{ top:153px; left:161px; }
#pista{ top:153px; left:234px; }
#tipo_carrera{ top:153px; left:334px;}
#clasificacion{ top:153px; left:400px; }
#condicion{ top:153px; left:436px; }
#indice{ top:153px; left:475px;}
#premio{ top:183px; left:322px; }
#monto_premios{ top:201px; left:311px; }
#apuestas_disponibles{ top:230px; left:196px; }

#estadisticas{ top:273px; left:218px; }
#estadisticas_en_este_hip{ top:273px; left:495px; }
#color_mandil{ top:273px; left:850px; }

#numero_ejemplar{ top:338px; left:61px; }
#letra_corral{ top:325px; left:63px; }
#nombre_ejemplar{ top:290px; left:163px;}

#sexo_color{ top:295px; left:372px; }
#edad_ejemplar{ top:295px; left:398px; }
#peso_jinete{ top:295px; left:419px; }
#numero_en_partidor{ top:295px; left:444px;}
#nombre_jinete{ top:295px; left:575px; }
#indice_que_gano{ top:295px; left:670px; }
#indice_actual{ top:295px; left:690px; }
#nombre_preparador{ top:295px; left:817px;}

#padre_madre_abuelomat{ top:310px; left:313px; }
#haras{ top:310px; left:443px; }
#stud_propietario{ top:310px; left:612px; }
#color_stud{ top:310px; left:819px;}

#fecha_ultima_actuacion{ top:328px; left:142px; }
#peso_ejemplar{ top:328px; left:170px; }
#lugar_de_llegada{ top:328px; left:192px; }
#distancia_c_r_primero{ top:328px; left:317px;}
#peso_jinete_ejemplar_ganador{ top:328px; left:370px; }
#nombre_ejemplar_ganador{ top:328px; left:445px; }
#distancia_ultima_actuacion{ top:328px; left:522px; }
#hipodromo_en_que_se_corrio{ top:328px; left:544px;}
#estado_pista_ultima_actuacion{ top:328px; left:561px; }
#tiempo_del_ganador_ultima_actuacion{ top:328px; left:607px; }
#indice_con_que_corrio_ultima_actuacion{ top:328px; left:630px; }
#peso_junete_ultima_actuacion{ top:328px; left:652px;}
#dividendo_a_ganador_ultima_actuacion{ top:328px; left:770px; }
#jinete_ganador_ultima_actuacion{ top:328px; left:715px; }
#indices_de_la_carrera_ultima_actuacion{ top:328px; left:819px; }
#distancia_con_r_alqueantecede_ultima_actuacion{ top:328px; left:864px;}
#lugar_de_partida_ultima_actuacion{ top:328px; left:905px; }
#retrospecto_ultima_actuacion{ top:328px; left:941px; }


/* General Info Box */
#infobox{
position:absolute;
bottom:-591px;
left: 353px;
height:200px;
width:300px;
z-index:20;
margin:0 0 -100px -150px;
background:#FFF;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}

#infobox a, #infobox a:visited{ text-decoration:none; }
#infobox a:hover{ text-decoration:underline; }

/* The dimmed background when the info box is showing */
#fade_bg{ position:absolute; z-index:15; width:100%; height:100%; background:url('/generales_imagenes/apuestas/dim.png'); display:none;}
/*modelo_explicativo*/

/*indicadores_home*/
.tr-home-slider .elt-home.carousel-indicators li {
    display: grid;
    align-content: center;
}

/* noticias */
.medium-post-content div.col-md-3 {
    height: 550px;
}

/*movil*/
@media (max-width: 479px) {
    .medium-post-content div.col-md-3 {
        height: 450px;
    }

    .elt-home-content {
        display: contents;
    }

    .slider-style-two .item-content {
        width: 100%;
    }

    .slider-style-two .item {
        min-height: auto;
    }

}

.elt-home .cal_resultado {
    background-color: #C2D6B9 !important;
}

.elt-home .cal_programa {
    background-color: #F5F497 !important;
}

.tr-home-slider .carousel-indicators {
    background-color: #fff;
}

.tr-home-slider .carousel-indicators li {
    height: 25%;
}

.tr-home-slider .carousel-indicators li span {
    font-size: 20px;
}
/*indicadores_home*/


/* container */
@media (min-width: 1300px) {
    .container {
        width: 1270px;
    }
}

/* fondo_pagina */
.elt-fondo-pagina {
    background-color: #fff;
}




/**************************************************************************
 *    4.14. Table
 */
.table-bordered {
    border: 1px solid #f8f1f1;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #f8f1f1;
}

.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
    border-bottom-width: 2px;
}

.table-hover>tbody>tr:hover td,
.table-hover>tbody>tr:hover th {
    /* Fallback for web browsers that doesn't support RGBa */

    background-color: #f8f1f1;
    /* RGBa with 0.6 opacity */

    background-color: rgba(248, 241, 241, 0.7);
    /* For IE 5.5 - 7 */

    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#99ffffff', endColorstr='#99ffffff');
    /* For IE 8 */

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3f8f1f1, endColorstr=#b3f8f1f1)";
}


/*-------------venta ejemplares-------------*/

/*galeria fotos videos*/
.custom-isotope-filter {
    margin: 0;
    background-color: #000;
    padding: 0;
}

.custom-isotope-filter>ul {
    text-align: center;
}

.isotope-filter ul {
    margin: 0;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline>li {
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
    text-indent: 0;
}

.custom-isotope-filter ul li {
    line-height: 60px;
    min-width: 6%;
    text-align: center;
}

.custom-isotope-filter ul li a {
    color: #fff;
    display: inline-block;
    height: 100%;
    width: auto;
    padding: 0px 10px 0px 10px;
}

.custom-isotope-filter ul li a:hover,
.custom-isotope-filter ul li a:active,
.custom-isotope-filter ul li a:focus {
    background-color: var(--elturf-orange);
    color: #fff;
}

#portfolio.portfolio-nospaces .row.portfolio-wrapper-nospaces {
    margin: 0;
}

#portfolio.portfolio-nospaces .row.portfolio-wrapper-nospaces>div {
    padding: 0;
    margin-bottom: 0;
}




.link-plus-cover {
    position: absolute;
    display: table;
    width: 25px;
    height: 25px;
    color: white;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    text-align: center;
    margin-top: -30px;
    margin-left: -15px;
}

.link-plus-cover span {
    vertical-align: middle;
    text-align: center;
    font-size: 5em;
    font-weight: 400;
}

.video-overlay {
    opacity: 0.8 !important;
}

.video-overlay:hover {
    opacity: 1 !important;
}

.overlay.video-overlay .overlay-title {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 76%;
    left: 0;
    background: #00000099;
    width: 100%;
}

.overlay-wrapper>img {
    width: 100%;
}

/*logo_iso*/
.footer-logo img {
    display: list-item;
}

address {
    margin-top: 40px;
}

footer .footer-bottom-content div.footer-logo,
footer .footer-bottom-content div.footer-logo-iso {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

footer .footer-logo-iso img {
    width: 113px;
}
/*logo_iso*/