/*letra default miesntras cargra fuentes externas*/
/*
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}
*/
/*letra default miesntras cargra fuentes externas*/

/*imports*/
@import url('/generales_librerias/google_fonts/Lato_300_300i_700_700i_900.min.css');

/*definir_colores*/
:root {
	--elturf-letra: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--elturf-orange: #f26522;
	--elturf-orange-oscuro: #c94923;
	--elturf-blue-oscuro: #11131a;
	--elturf-botones-programas-y-pronosticos-home: #696969;
	--elturf-blue: #061414;
	--elturf-gray: #f5f5f5;
	--elturf-gray-oscuro: #8f8e8e;
	--elturf-gray-oscuro1: #696969;
	--elturf-gray-oscuro2: #222;
	--elturf-gray-claro: #f5f5f5;
	--elturf-blanco-claro: #f5f5f5;
	--elturf-gray-claro2: #ecebeb;
	--elturf-amarillo: #ffc439;
	--elturf-amarillo-claro: #F5F497;
	--elturf-amarillo-claro2: #e3e3e3;
    --elturf-verde: #4f9b62;
    --elturf-verde-claro: #c1eccc;
    --elturf-rojo: #e75449;

	/*generales*/
	--color-menu: #f26522;
    --color-menu-hover: #c94923;
	--color-menu-superior: #0c2d3c;
	--color-footer: #061414;

	--color-hover-general-separador-success: #dff0d8;
	--color-hover-general-sep-repetidos: #C2D6B9;

    --color-hover-general-calendario: #f26522;
	--color-hover-general-calendario-titulo-dias: #f2f2f2;
	--color-hover-general-calendario-dias-pasado: #C2D6B9;
	--color-hover-general-calendario-dias-proximo: #F5F497;
	--color-hover-general-calendario-dias-sabado: #f2f2f2;
	--color-hover-general-calendario-dias-domingo: #f2f2f2;
    --color-hover-general-ejemplar-suplente: #f6f6e6;
}
/*definir_colores*/

/*auto-zoom safari*/
input[type="text"],
textarea {
    /*font-size: 16px !important;*/
    font-size: 1em !important;
}
* {
    -webkit-text-size-adjust: none !important;
    text-size-adjust: none !important;
}
/*auto-zoom safari*/

/* seo_elturf */
div.seo_elturf {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
div.seo_elturf h1,
div.seo_elturf div,
div.seo_elturf p,
div.seo_elturf a {
    padding: 0;
    margin: 0;
    line-height: 0px;
    font-size: 1px;
    color: #fff;
}
/* seo_elturf */

/* generales */
body {
    font-display: auto;
	font-family: var(--elturf-letra);
    color: var(--elturf-blue);
    overflow-x: hidden;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--elturf-letra);
	font-weight: 900;
}

a,
a:visited {
    color: var(--elturf-orange);
}

a:link,
a:active {
    color: var(--elturf-orange);
}

a:hover {
    color: var(--elturf-orange-oscuro);
}
/* generales */

/*bootstrap*/
.table-bordered,
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th,
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th,
.table>tbody+tbody {
    border: 1px solid var(--elturf-gray-claro);
}

/*no_imprimir*/
@media print {
    .no_imprimir {
      display: none;
    }
}
/*no_imprimir*/

.btn-primary {
    color: white;
    background-color: var(--elturf-gray-oscuro1); /*var(--elturf-blue)*/
    border-color: var(--elturf-gray-oscuro1); /*var(--elturf-blue)*/
	font-weight: 600;
}

.btn-naranja {
    color: #fff;
    background-color: var(--elturf-orange); /*var(--elturf-blue)*/
    border-color: var(--elturf-orange); /*var(--elturf-blue)*/
	font-weight: 600;
}

.btn-naranja:hover {
    color: #fff;
    background-color: var(--elturf-orange-oscuro); /*var(--elturf-blue)*/
    border-color: var(--elturf-orange-oscuro); /*var(--elturf-blue)*/
}

.btn-primary:hover,
.btn-primary:focus {
    color: white;
    background-color: var(--elturf-orange);
    border-color: var(--elturf-orange-oscuro);
}
.btn-primary:visited,
.btn-success:hover,
.btn-success:visited,
.btn-info:hover,
.btn-info:visited,
.btn-warning:hover,
.btn-warning:visited,
.btn-danger:hover,
.btn-danger:visited {
    color: white;
}

.caja_menu_ejemplar a:link,
.caja_menu_ejemplar a:active,
.caja_menu_ejemplar a:visited {
    color: white;
}

a:link.btn-primary, 
a:active.btn-primary, 
a:link.btn-success, 
a:active.btn-success, 
a:link.btn-info, 
a:active.btn-info, 
a:link.btn-warning, 
a:active.btn-warning, 
a:link.btn-danger, 
a:active.btn-danger {
    color: white;
}

/*dropdown tablas*/
.table tr th .dropdown ul li {
    list-style: none;
    padding: 0;
    text-indent: 0;
    border-bottom: 1px solid #e1e1e1;
}
.table tr th .dropdown ul li a {
    background-color: #F2F2F2;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 20px;
}
.table tr th .dropdown-menu {
    padding: 0;
}
.table tr th .dropdown ul li a:link {
    display: block;
    font-weight: 400;
    font-size: 16px;  
}
.table tr th .dropdown ul li a:hover,
.table tr th .dropdown ul li a:visited,
.table tr th .dropdown ul li a:active {
    background-color: var(--elturf-orange-oscuro);
    color: white;
}
/*bootstrap*/

/* ============ generales_elturf ============ */
/* ============ generales_elturf ============ */
/* ============ generales_elturf ============ */

/* media_types */
@media (max-width: 350px) {
    .esconder_resultados_phone1{display:none;}
    .mostrar_resultados_phone1{display:block;}
}
@media (min-width: 351px) and (max-width:480px) {
    .esconder_resultados_phone2{display:none;}
    .mostrar_resultados_phone2{display:block;}
}
@media (min-width: 481px) and (max-width:768px) {
    .esconder_resultados_tablet1{display:none;}
    .mostrar_resultados_tablet1{display:block;}
}
@media (min-width: 769px) and (max-width:991px) {
    .esconder_resultados_tablet2{display:none;}
    .mostrar_resultados_tablet2{display:block;}
}
@media (min-width: 992px) {
    .esconder_resultados_pc1{display:none;}
    .mostrar_resultados_pc1{display:block;}
}
/* media_types */

/*lightview*/

/*lightview*/

/* banner_propio_vuejs */
.elt_slider {
    position: relative;
}
.elt_slider .flecha_left {
    z-index: 1;
    left: 20px;
}
.elt_slider .flecha_right {
    z-index: 2;
    right: 20px;
}
.elt_slider .flecha {
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.elt_slider .flecha_tamano {
    position: absolute;
    top: 50%;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 1px;
    margin-left: 1px;
}
.elt_slider .navegacion_celda {
    position: absolute;
    width: 100%;
    z-index: 3;
    bottom: 20px;
    text-align: center;
}
.elt_slider .navegacion {
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    background-color: white;
    text-align: center;
    cursor: pointer;
}
.elt_slider .navegacion_activo {
    border: unset;
    background-color: black;
}
.elt_slider .navegacion_tamano {
    position: relative;
    display: inline-block;
    border: 3px solid black;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-right: 1px;
    margin-left: 1px;
}
/* banner_propio_vuejs */

/* modal_propia */
.vue_modal {
    display: block;
    position: fixed;
    z-index: 100000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.vue_modal div.modal-content {
	position: relative;
	background-color: white;
	margin: auto;
	padding: 0;
	border: 1px solid #ddd;
	width: 60%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),0 6px 20px 0 rgba(0,0,0,0.5);
	-webkit-animation-name: elt_modal_animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: elt_modal_animatetop;
	animation-duration: 0.5s
}
@media (max-width: 480px) {
	.vue_modal div.modal-content {
    	width: 98% !important;
	}
}
/* animacion */
@-webkit-keyframes elt_modal_animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}
@keyframes elt_modal_animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* Boton Cerrar */
.vue_modal div.modal-content div.modal-header span.close {
	color: #384042;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.vue_modal div.modal-content div.modal-header span.clos:hover,
.vue_modal div.modal-content div.modal-header span.clos:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.vue_modal div.modal-content div.modal-header {
	padding: 10px 10px;
	background-color: #f5f5f5;
	border-color: #ddd;
	color: black;
	text-align: left;
}
.vue_modal div.modal-content div.modal-header h4 {
	margin-bottom: 0px;
}
.vue_modal div.modal-content div.modal-header h4 small {
	color: black;
}
.vue_modal div.modal-content div.modal-body {
	padding: 10px 10px;
	background-color: white;
	color: black;
	text-align: left;
}
.vue_modal div.modal-content div.modal-footer {
	padding: 10px 10px;
	background-color: #f5f5f5;
	border-color: #ddd;
	color: black;
	text-align: left;
}
.vue_modal div.modal-content div.modal-footer h4 {
	margin-bottom: 0px;
}
/* modal_propia */

/* animacion pronostico elturf */
.elturf_sim_pron_pista {
    position:relative;
    width:100%;
    background:white;
    border:1px solid #E0E0E0;
    padding-bottom:83px; /*alto baranda + logo turf*/
}
.elturf_sim_pron_pista2 {
    position:relative;
    width:100%;
    top:63px; /*alto baranda1 + logo turf*/
}
.elturf_sim_pron_ejemplar {
    position:relative;
    display:none;
    z-index:1;
    margin-top:5px;
    margin-bottom:5px;
    width:135px;
    max-width:130px;
    /*left:0;*/
}
.elturf_sim_pron_ejemplar_std {
    width:30px;
    max-width:30px;
}
.elturf_sim_pron_ejemplar_eje {
    width:105px;
    max-width:105px;
}
.elturf_sim_pron_pista_partida {
    position:absolute;
    top:0px;
    left:135px;
    width:1px;
    height:100%;
    border:1px solid white;
}
.elturf_sim_pron_pista_meta {
    position:absolute;
    top:0px;
    right:32px;
    width:1px;
    height:100%;
    border:1px solid #E0E0E0;
}
.elturf_sim_pron_pista_meta_izq {
    position:absolute;
    top:0px;
    left:32px;
    width:1px;
    height:100%;
    border:1px solid #E0E0E0;
}
.elturf_sim_pron_pista_logo_turf {
    position:absolute;
    top:0px;
    background:url('/generales_imagenes/Cartel_Ico_Elturf.png') center;
    width:100%;
    height:40px;
}
.elturf_sim_pron_pista_logo_prensa {
    position:absolute;
    top:0px;
    background:url('/generales_imagenes/Cartel_Ico_Prensa.png') center;
    width:100%;
    height:40px;
}
.elturf_sim_pron_pista_baranda {
    position:absolute;
    top:45px;
    background:url('/generales_imagenes/baranda_hipodromo.png') center;
    width:100%;
    height:20px;
    border-bottom:1px solid #E0E0E0;
}
.elturf_sim_pron_pista_baranda2 {
    position:absolute;
    bottom:0px;
    background:url('/generales_imagenes/baranda_hipodromo.png') center;
    width:100%;
    height:20px;
}
/* animacion pronostico elturf*/

/* red_teletrak */
#elt_mapa_google {
    height: 600px;
    width: 100%;
    float: left;
    position: relative;
    z-index: 30 !important;
}
#elt_cont_mapa_pais {
    width: 230px;
    overflow: hidden;
    padding-top: 75px;
    background: url('/generales_imagenes/red_teletrak/red-teletrak_logo.jpg') left top no-repeat;
}
#elt_div_mapa_pais {
    width: 76px;
    height: 400px;
    float: left;
    background: url('/generales_imagenes/red_teletrak/red-teletrak_mapa_chile.png') 0 0;
}
#elt_div_mapa_pais_info {
    float: left;
    width: 150px;
}
#elt_div_mapa_pais_info2 {
    float: left;
    width: 135px;
    padding-top: 35px;
}
/* red_teletrak */

/* video_responsivo_elturf */
.video-container-elturf {
    position:relative;
    padding-bottom:56.25%;
    overflow:hidden;
    max-width:100%;
    height:auto;
}
.video-container-elturf iframe,
.video-container-elturf object,
.video-container-elturf embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
/* video_responsivo_elturf */

/* padding_tablas_sistema */
.elturf_padding_tablas tr th {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.elturf_padding_tablas tr td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.elturf_padding_tablas tr td > form {
    margin: 0px 0px;
}

.elturf_padding_tablas .sin_padding {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
}

.elturf_padding_tablas .texto_normal {
    color: black;
    font-size: 13px;
}
/* padding_tablas_sistema */

/* Retirado */
.elt_retirado{
    display: block;
    position:absolute;
    z-index:1;
    color:red;
    opacity:0.5;
}
.elt_no_retirado{
    display:none;
    position:absolute;
    z-index:1;
}
.elt_retirado_1{
    font-size:150px;
    padding-top: 125px;
}
.elt_retirado_2{
    font-size:70px;
    padding-top: 50px;
}
/* Retirado */

/* tabs_programas */
.tab_programas.tab-content {
    padding: 20px;
}
ul.tab_programas.nav-tabs {
    border-bottom: 2px solid #1e9d93;
}
ul.tab_programas.nav-tabs li {
    list-style: disc inside;
    margin-left: 0;
    width: 16%;
    text-align: center;
    float: left;
    margin-bottom: 0px;

}
ul.tab_programas.nav-tabs li a:hover {
    background: #DDD;
}

ul.tab_programas.nav-tabs li a {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    line-height: 10px;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}
ul.tab_programas.nav-tabs li a.tab_pronostico {
    background-color: #1e9d93;
}
/* tabs_programas */

/* elturf_tabla_tpd */
table.elturf_tabla_tpd {
    margin: 0px;
}
table.elturf_tabla_tpd tr td {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
    font-size: 12px;
    width: 16%;
}
/* elturf_tabla_tpd */

/* scroll_top */
#elturf_scroll_top_pagina {
    z-index: 100;
    width: 40px;
    height: 40px;
    opacity: 0.8;
    position: fixed;
    right: 10px;
    bottom: 40px;
    display: none;
    background-image: url('/generales_imagenes/boton_scroll_subir.png');
}
/* scroll_top */

/* sueltas */
.elturf_align_top{
    vertical-align: text-top;
}

.elturf_separador_botom {
    border-bottom: 3px solid #C0C0C0;
}

.elturf_separador_top {
    border-top: 3px solid #C0C0C0;
}

.elturf_separador_success {
    background-color: #dff0d8;
}

.elturf_separador_campana {
    height: 0.5px;
    background: #C0C0C0;
}

.elturf_full_width {
    width: 100%;
}

.elturf_cursor {
    cursor: pointer;
}

.elturf_td_padding_0 {
    padding: 0;
}
/* sueltas */


/* texto_una_linea_puntos_automaticos */
.elturf_div_overflow_puntos {
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-width: 100%;*/
    /*white-space: nowrap;*/
}
/* texto_una_linea_puntos_automaticos */

/* ============ generales_elturf ============ */
/* ============ generales_elturf ============ */
/* ============ generales_elturf ============ */