:root {

}
/*definir_colores*/

.vue-comp-programa-ver {
    /*clase_base*/
}

.vue-comp-programa-ver select.form-control {
    margin-top: 5px;
    height: 30px;
    font-size: 13px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.vue-comp-programa-ver .vue-comp-crias-padrillo-yegua {
    display: inline;
}

.vue-comp-programa-ver .filas_popup {
    padding-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.vue-comp-programa-ver .filas_popup_col_iz {
    padding-right: 5px;
    display: inline;
}

.vue-comp-programa-ver .filas_popup_col_der {
    display: inline;
}

.vue-comp-programa-ver  .eje_suplente {
    background-color: var(--color-hover-general-ejemplar-suplente);
}